<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>owl-carousel</string>
		<string>picker</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>bootstrap-image-gallery.min.js</string>
		</array>
		<array>
			<string>bootstrap.min.js</string>
		</array>
		<array>
			<string>classie.js</string>
		</array>
		<array>
			<string>default.js</string>
		</array>
		<array>
			<string>html5shiv-printshiv.js</string>
		</array>
		<array>
			<string>html5shiv.js</string>
		</array>
		<array>
			<string>imagelightbox.min.js</string>
		</array>
		<array>
			<string>isotope.js</string>
		</array>
		<array>
			<string>isotope.pkgd.min.js</string>
		</array>
		<array>
			<string>jquery.form.js</string>
		</array>
		<array>
			<string>jquery.inview.js</string>
		</array>
		<array>
			<string>jquery.isotope.min.js</string>
		</array>
		<array>
			<string>jquery.js</string>
		</array>
		<array>
			<string>jquery.magnific-popup.js</string>
		</array>
		<array>
			<string>jquery.mb.YTPlayer.js</string>
		</array>
		<array>
			<string>jquery.nav.js</string>
		</array>
		<array>
			<string>jquery.prettyPhoto.js</string>
		</array>
		<array>
			<string>jquery.swipebox.js</string>
		</array>
		<array>
			<string>jquery.validate.js</string>
		</array>
		<array>
			<string>lightbox.js</string>
		</array>
		<array>
			<string>modernizr.custom.js</string>
		</array>
		<array>
			<string>pathLoader.js</string>
		</array>
		<array>
			<string>plugins.js</string>
		</array>
		<array>
			<string>respond.js</string>
		</array>
		<array>
			<string>scripts.js</string>
		</array>
		<array>
			<string>styleswitch.js</string>
		</array>
	</array>
</dict>
</plist>
